/* barlow-regular - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/barlow-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/barlow-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/barlow-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/barlow-v12-latin-regular.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* barlow-500 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/barlow-v12-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/barlow-v12-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/barlow-v12-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/barlow-v12-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/barlow-v12-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/barlow-v12-latin-500.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* barlow-600 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/barlow-v12-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/barlow-v12-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/barlow-v12-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/barlow-v12-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/barlow-v12-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/barlow-v12-latin-600.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* barlow-700 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/barlow-v12-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/barlow-v12-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/barlow-v12-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/barlow-v12-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/barlow-v12-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/barlow-v12-latin-700.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* barlow-800 - latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/barlow-v12-latin-800.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/barlow-v12-latin-800.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/barlow-v12-latin-800.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/barlow-v12-latin-800.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/barlow-v12-latin-800.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/barlow-v12-latin-800.svg#Barlow') format('svg');
    /* Legacy iOS */
}

/* fraunces-regular - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/fraunces-v26-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fraunces-v26-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fraunces-v26-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fraunces-v26-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fraunces-v26-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fraunces-v26-latin-regular.svg#Fraunces') format('svg');
    /* Legacy iOS */
}

/* fraunces-500 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/fraunces-v26-latin-500.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fraunces-v26-latin-500.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fraunces-v26-latin-500.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fraunces-v26-latin-500.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fraunces-v26-latin-500.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fraunces-v26-latin-500.svg#Fraunces') format('svg');
    /* Legacy iOS */
}

/* fraunces-600 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/fraunces-v26-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fraunces-v26-latin-600.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fraunces-v26-latin-600.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fraunces-v26-latin-600.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fraunces-v26-latin-600.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fraunces-v26-latin-600.svg#Fraunces') format('svg');
    /* Legacy iOS */
}

/* fraunces-700 - latin */
@font-face {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/fraunces-v26-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/fraunces-v26-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/fraunces-v26-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/fraunces-v26-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/fraunces-v26-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/fraunces-v26-latin-700.svg#Fraunces') format('svg');
    /* Legacy iOS */
}

:root {
    --white: rgba(255, 255, 255, 1);
    --black: rgba(36, 48, 62, 1);
    --lightgrey: rgba(128, 131, 151, 1);
    --grey: rgba(167, 170, 173, 1);
    --dark-grey: rgba(91, 99, 109, 1);
    --green: rgba(62, 116, 103, 1);
    --dark-green: rgba(36, 85, 74, 1);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
a.link-desc {
    font-family: 'fraunces', sans-serif;
}

a {
    text-decoration: none;
}



.h1 {
    font-size: 5.6rem;
    font-weight: 700;
    color: var(--white);
}

.h2 {
    font-size: 4rem;
    color: var(--black)
}

.main-hero {
    text-align: center;
    background-image: url('../img/fruit_1.jpg');
    background-position: center;
    background-size: cover;
    padding-top: 3.4rem;
    min-height: 80rem;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding-right: 4.8rem;
    padding-left: 4.8rem;
    padding-bottom: 10.5rem;

}

.main-nav .nav {
    display: flex;
    align-items: center;
    height: 5.6rem;
}

.nav-item {
    display: inline-flex;
    justify-content: center;
    width: 14rem;

}

.nav-item a {
    color: white;

}

.nav-item:hover {
    display: flex;
    background-color: var(--white);
    width: 14rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 2.8rem;
}

.nav-item:hover a {
    color: var(--black);
    font-weight: 700;
}

.hero {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.text-hero {
    padding-bottom: 9.6rem;
}

.arrow {
    place-self: center;
}

.main-grid-section {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    padding-bottom: 16rem;
}






.block-grid {
    transition: 0.3s ease;
    width: 100vw;

}

@media screen and (min-width:900px) {
    .main-grid-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .block-grid {
        transition: 0.3s ease;
        width: 50vw;
    }

    .img-brand {
        grid-column-start: 2;
    }

}

.img-brand {
    grid-row-start: 1;
}

.img-brand img,
.img-audience img {
    width: 100%;
}

@media screen and (min-width:900px) {
    .main-grid-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .block-grid {
        transition: 0.1s;
        width: 50vw;
    }

    .img-brand {
        grid-column-start: 2;
    }

}

.desc-graphic {
    background-image: url('../img/fruit_2.png');
    background-position: center;
    background-size: cover;
    min-height: 60rem;
}

.desc-photography {
    background-image: url('../img/fruit_3.jpg');
    background-position: center;
    background-size: cover;
    min-height: 60rem;

}


.cards-clients {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    text-align: center;
    padding-bottom: 6.9rem;
}

@media screen and (max-width:900px) {
    .cards-clients {
        grid-template-columns: 1fr;
    }
}

.title-client {
    font-size: 2rem;
    font-family: 'Fraunces', sans-serif;
    color: var(--lightgrey);
    text-align: center;
    padding-bottom: 8.1rem;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 35rem;
}

.card-img {
    width: 7.2rem;
}

.pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 7.2rem;
}

@media screen and (max-width:900px) {
    .pictures {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 7.2rem;
    }
}

.pictures figure img {
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7.2rem;
}

.logo-footer {
    padding-bottom: 4rem;
}

.main-social-media {
    display: inline-flex;
    gap: 2.8rem;
}

.links-footer {
    display: inline-flex;
    text-align: center;
    padding-bottom: 8.8rem;
    gap: 5.7rem;
}

.link-footer {}